/* THIS IS STYLING FOR HOME PAGE */
.c1box1,
.c1box2 {
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.c1b1input1 {
  color: black;
  background-color: white;
  border-color: transparent;
  box-shadow: none;
  outline: none;
  font-size: 80px;
  font-weight: 500;
  text-align: center;
  width: 25rem;
}

.c1row {
  margin-top: 6rem;
}
.c1b1p1 {
  color: black;
  font-size: 36px;
  font-weight: 400;
}
.c1b1p2 {
  color: black;
  font-size: 80px;
  font-weight: 500;
}

.c2a1 {
  color: white;
  text-decoration: none;
}
.c2a1:hover {
  color: white;
  text-decoration: none;
}

.c2btn1 {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  -webkit-box-shadow: -2px 14px 25px -4px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: -2px 14px 25px -4px rgba(0, 0, 0, 0.38);
  box-shadow: -2px 14px 25px -4px rgba(0, 0, 0, 0.38);
  transition-duration: 1s;
}
.c2btn1:hover {
  width: 280px;
}

.c2btn1:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.c2btn1:active {
  color: #000;
}

/* .c2btn1:active:after {
  background: transparent;
} */

.c2btn1:hover:before {
  opacity: 1;
}

.c2btn1:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
@media screen and (max-width: 600px) {
  .c1b1input1 {
    font-size: 50px;
  }
  .c1b1p1 {
    font-size: 25px;
  }
  .c1b1p2 {
    font-size: 50px;
  }
  .c2btn1 {
    width: 16rem;
    height: 2.8rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 1rem;
  }
  .c2btn1:hover {
    width: 18rem;
    height: 3.1rem;
    font-size: 1.2rem;
  }
}

/* THIS IS STYLING FOR REGISTER PAGE */
.rc1 {
  margin-top: 7rem;
}
.rc1b1,
.rc1b2 {
  text-align: left;
}
.rc1b1 {
  display: block;
}
.rc1b1a > img {
  display: none;
}

@media screen and (max-width: 992px) {
  .rc1 {
    margin-top: 3rem;
  }
  .rc1b1 {
    display: none;
  }
  .rc1b1a > img {
    display: block;
    max-width: 100%;
    margin-bottom: 10px;
  }
}

.rcimg1 {
  width: 30rem;
}

.rbtn1 {
  color: white;
  background-color: black;
  border: none;
  width: 10rem;
  height: 2.4rem;
  border-radius: 5px;
  -webkit-box-shadow: -2px 14px 25px -4px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: -2px 14px 25px -4px rgba(0, 0, 0, 0.38);
  box-shadow: -2px 14px 25px -4px rgba(0, 0, 0, 0.38);
}

/* THIS IS STYLING FOR LOGIN PAGE */
.lc1 {
  margin-top: 5rem;
}

.lcb1,
.lcb2 {
  text-align: center;
}

.lcb1 > img {
  max-width: 100%;
}
.lbtn1 {
  color: white;
  background-color: black;
  border: none;
  width: 21.4rem;
  height: 2.4rem;
  border-radius: 5px;
  -webkit-box-shadow: -2px 14px 25px -4px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: -2px 14px 25px -4px rgba(0, 0, 0, 0.38);
  box-shadow: -2px 14px 25px -4px rgba(0, 0, 0, 0.38);
}

/* THIS IS STYLING FOR LOGIN PAGE */

/* UPPER SECTION */
.dc1 {
  /* border: 1px solid black; */
  margin-top: 2.5rem;
  border-radius: 15px;
  -webkit-box-shadow: 0px 10px 25px -4px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 0px 10px 25px -4px rgba(0, 0, 0, 0.53);
  box-shadow: 0px 10px 25px -4px rgba(0, 0, 0, 0.53);
}
.dc1c1d1 {
  text-align: center;
}
.dc1c1p1 {
  font-size: 1.5rem;
  font-weight: 500;
}
.dc1a2 > p {
  font-size: 1rem;
  font-weight: 500;
  color: grey;
}
.dc1a2 {
  border-radius: 15px;
  -webkit-box-shadow: 0px 11px 26px -12px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 0px 11px 26px -12px rgba(0, 0, 0, 0.53);
  box-shadow: 0px 11px 26px -12px rgba(0, 0, 0, 0.53);
}
.dc1a2 > p > span {
  font-size: 5rem;
  font-weight: 500;
  color: black;
}

.dc1a3 {
  display: flex;
}
.dc1a3 > div > p {
  margin: 5px;
  font-size: 1rem;
  font-weight: 500;
  color: grey;
}
.dc1a3 > div > p > span {
  color: black;
  font-weight: 700;
}
.dc1a3 > div {
  flex: 1;
  border-radius: 15px;
  -webkit-box-shadow: 0px 11px 26px -12px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 0px 11px 26px -12px rgba(0, 0, 0, 0.53);
  box-shadow: 0px 11px 26px -12px rgba(0, 0, 0, 0.53);
}
.dc1a4 {
  display: flex;
  margin-top: 10px;
}
.dc1a4 > div {
  flex: 1;
  padding: 5px;
}
.dc1a4b1 {
  color: white;
  background-color: black;
  border: none;
  width: 15rem;
  height: 2.4rem;
  border-radius: 15px;
  -webkit-box-shadow: 0px 11px 26px -12px rgba(65, 133, 243, 1);
  -moz-box-shadow: 0px 11px 26px -12px rgba(65, 133, 243, 1);
  box-shadow: 0px 11px 26px -12px rgba(65, 133, 243, 1);
  transition-duration: 1s;
}
.dc1a4b1:hover {
  background-color: #4184f3;
  width: 30rem;
  -webkit-box-shadow: -2px 14px 25px -4px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: -2px 14px 25px -4px rgba(0, 0, 0, 0.38);
  box-shadow: -2px 14px 25px -4px rgba(0, 0, 0, 0.38);
}
.dc1a4b2 {
  color: white;
  background-color: black;
  border: none;
  width: 15rem;
  height: 2.4rem;
  border-radius: 15px;
  -webkit-box-shadow: 0px 11px 26px -12px rgba(255, 87, 34, 1);
  -moz-box-shadow: 0px 11px 26px -12px rgba(255, 87, 34, 1);
  box-shadow: 0px 11px 26px -12px rgba(255, 87, 34, 1);
  transition-duration: 1s;
}
.dc1a4b2:hover {
  background-color: #ff5722;
  width: 30rem;
  -webkit-box-shadow: -2px 14px 25px -4px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: -2px 14px 25px -4px rgba(0, 0, 0, 0.38);
  box-shadow: -2px 14px 25px -4px rgba(0, 0, 0, 0.38);
}

/* LOWER SECTION */
.dc2 {
  /* border: 1px solid black; */
  border-radius: 15px;
  -webkit-box-shadow: 0px 10px 25px -4px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 0px 10px 25px -4px rgba(0, 0, 0, 0.53);
  box-shadow: 0px 10px 25px -4px rgba(0, 0, 0, 0.53);
}
.dc2a1b,
.dc2a2b,
.dc2a2d {
  padding: 10px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 11px 26px -12px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 0px 11px 26px -12px rgba(0, 0, 0, 0.53);
  box-shadow: 0px 11px 26px -12px rgba(0, 0, 0, 0.53);
}
.dc2a1b {
  height: 15rem;
  overflow: auto;
}
/* .dc2a1b > p{

} */
/* SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
  height: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
}

.dc2a1a > p,
.dc2a2a > p,
.dc2a2c > p {
  font-size: 1rem;
  font-weight: 500;
  color: grey;
  margin-bottom: 8px;
}
.dc2b {
  padding: 10px;
}
.dc2a2b > p {
  font-size: 4rem;
  font-weight: 500;
}
@media screen and (max-width: 992px) {
  .dc1a2 > p > span {
    font-size: 3rem;
  }
  .dc2a2b > p {
    font-size: 2.5rem;
  }
  .dc1a4 {
    display: block;
    margin-top: 10px;
  }

  .dc1a4b1:hover {
    width: 20rem;
  }

  .dc1a4b2:hover {
    width: 20rem;
  }
}
.dc2a2d > div > p > span {
  font-size: 2rem;
  font-weight: 500;
}
.dc2a2d > div > button {
  color: white;
  background-color: black;
  border: none;
  width: 8rem;
  height: 2.4rem;
  border-radius: 15px;
  margin-top: 3px;
  transition-duration: 1s;
}
.dc2a2d > div > button:hover {
  width: 13rem;
}
.dc2a2d {
  display: flex;
}
.dc2a2d > div {
  flex: 1;
}
